@use "./partials/variables" as *;
@use "./partials/mixins" as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

// DEBUG
.debug {
    border: 6px solid aqua;
    height: 400px;
    width: 300px;
}

.icon i{
    margin: 0 5px;
}