*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbo{
    height: 4rem;
    background-color: #ff6900;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:  0px 3px 5px #7a7777;
}

ul{
    display: flex;
    list-style: none;
    li{
        margin: 5px;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}

.logo img{
    width: 130px;
}

.icon{
    i{
        margin: 0 5px;
    }
}

section{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    
}

.card{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    display: flex;
    justify-content: center;
    .card-img{
        width: 350px;
        height: 450px;
        margin: 40px 0;
        img{
            width: 100%;
            display: block;
        }
    }
}